/* Variables */
$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$lightGrey: hsl(217, 12%, 63%);
$mediumGrey: hsl(216, 12%, 54%);
$darkBlue: hwb(213 15% 78%);
$veryDarkBlue: hsl(216, 12%, 8%);

/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $veryDarkBlue;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    button{
        font-family: inherit;
    }
    
    ul{
        list-style-type: none;
    }

    p{
        line-height: 1.8;
    }
}

.main__container, .thank-you{
    background-image: linear-gradient(rgb(41, 53, 67), hsl(223, 19%, 14%));
    padding: 1.5rem;
    border-radius: 0.625rem;
}

/* Rating state */
.main__container{
    img{
        background-color: $darkBlue;
        padding: 15px;
        border-radius: 50%;
    }
    h1{
        color: $white;
        margin: 2rem 0 1rem;
    }
    p{
        color: $lightGrey;
        margin-bottom: 1rem;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

        li button{
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            border: none;
            background-color: $darkBlue;
            color: $lightGrey;
            padding-top: 0.2rem;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:hover{
                background-color: $lightGrey;
                color: $white;
            }
            &:focus{
                background-color: $orange;
                color: $white;
            }
        }
    }
    .btn-submit{
        background-color: $orange;
        width: 100%;
        color: $white;
        font-weight: 700;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 16px 0;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover{
            color: $orange;
            background-color: $white;
        }
    }
}


/* Thank you state */



/* Attribution */